* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  --primary: #1746a2;
  --secondary: #5f9df7;
  --light-cement: #fff7e9;
  --white: rgb(237, 234, 234);
  --orange: #ff731d;
  --red: #ff3f1d;

  --pd: 5px;
  --br: 5px;
  --gap: 5px;
}

.App {
  display: grid;
  grid-template-rows: 0.5fr 3fr 4fr 2fr 0.25fr;
}
/* Nav Bar Styles */
.navBar {
  width: 100vw;
  min-height: 15vh;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  grid-row: 1/2;
  background-color: var(--white);
  color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.navAbout {
  animation: one 0.7s ease-in 0.4s;
}
.navProjects {
  animation: one 0.7s ease-in 0.3s;
}
.navSkills {
  animation: one 0.7s ease-in 0.2s;
}
.navContact {
  animation: one 0.7s ease-in 0.1s;
}
.navLinks ul li {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.navLinks ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: calc(var(--gap) * 5);
}
.darkLogo {
  animation: one-by-one 0.7s ease-in 0.1s;

  width: 40px;
  height: 40px;
}

/* About Section Styles */
.about {
  position: static;
  grid-row: 2/3;
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--gap) * 20);
  color: var(--primary);
  background-color: var(--light-cement);
  padding: calc(var(--pd) * 5);
}
.contact {
  display: flex;
  flex-direction: column;
  padding: var(--pd);
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}

.contact img {
  width: 30px;
  background-color: var(--light-cement);
  border-radius: calc(var(--br) * 3);
}

.contact img:hover {
  width: 40px;
  background-color: var(--orange);
  border-radius: calc(var(--br) * 4);
}
.contactImg {
  width: 40px;
  height: 40px;
}
.aboutContent {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  gap: calc(var(--gap) * 10);
  padding: var(--pd);
}

.aboutFirst {
  animation: one-by-one 0.7s ease-in 0.1s;
}
.aboutSecond {
  animation: one-by-one 0.7s ease-in 0.2s;
}
.aboutThird {
  animation: one-by-one 0.7s ease-in 0.4s;
}
.aboutFirst,
.aboutSecond,
.aboutThird {
  max-width: 400px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: var(--br);
  text-align: center;
  padding: calc(var(--pd) * 3);
}
.resumeGif {
  animation: one 0.7s ease-in 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 250px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: var(--br);
}
.resumeGif img {
  max-width: 400px;
  border-radius: var(--br);
}

/* Animations */
@keyframes one-by-one {
  0% {
    transform: translatex(-500px);
    opacity: 0;
  }
  100% {
    transform: skew(0deg);
    opacity: 1;
  }
}
@keyframes one {
  0% {
    transform: translatey(-500px);
    opacity: 0;
  }
  100% {
    transform: skew(0deg);
    opacity: 1;
  }
}

/* Project Section styles */
.projects {
  grid-row: 3/4;
  background-color: var(--white);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: calc(var(--pd) * 5);
}
.projectsContent {
  display: grid;
  grid-template-columns: 10vw 80vw;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--pd) * 4);
}
.sideContact {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.allProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projectsCards {
  grid-column: 2/3;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  padding: var(--pd);
  gap: calc(var(--gap) * 15);
  align-items: center;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--light-cement);
  padding: calc(var(--pd) * 5);
  gap: calc(var(--gap) * 3);
  width: 25vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: var(--br);
}
.cardImg {
  max-width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardImg img {
  width: 70%;
}
.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--gap) * 2);
}
.demoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background-color: var(--white);
  padding: var(--pd);
  border-radius: var(--br);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.demoDiv a {
  text-decoration-color: var(--white);
}

/* Skills Section Styles */
.skillsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 4/5;
  background-color: var(--light-cement);
  color: var(--primary);
  gap: calc(var(--gap)*10);
}
.skillsDiv span {
  color: var(--red);
}
.skillsContent {
  display: grid;
  grid-template-columns: 10vw 80vw;
  justify-content: space-between;
}
.skillscards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(var(--pd)*5);
  width: 100px;
  height: 100px;
  background-color: var(--white);
  border-radius: 50%;
}

.skillCard img {
  width: 50%;
  height: 50%;
}

.footer {
  grid-row: 5/6;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-cement);
}
