* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  --orange: #ff731d;
  --red: #ff3f1d;

  --pd: 5px;
  --br: 5px;
  --gap: 5px;
}

.darkmode {
  --primary: rgb(223, 223, 126);
  --light-cement: rgb(74, 60, 60);
  --white: rgb(22, 22, 22);
  --nav-after-back: #0a2647;
  --nav-after: #495579;
}
.lightmode {
  --primary: #1746a2;
  --secondary: #5f9df7;
  --light-cement: #fff7e9;
  --white: rgb(237, 234, 234);
  --nav-after-back: #9ba4b5;
  --nav-after: #d5b4b4;
}
body {
  background-color: var(--white);
  position: relative;
  display: block;
  max-width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.App {
  display: grid;
  grid-template-rows: 0.5fr 3fr auto 3fr 3fr 0.25fr;
}
/* Nav Bar Styles */
.navBar {
  z-index: 3;
  width: 100vw;
  height: 20vh;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  grid-row: 1/2;

  background-color: var(--white);
  color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.navAbout {
  animation: one 0.7s ease-in 0.4s;
}
.navProjects {
  animation: one 0.7s ease-in 0.3s;
}
.navSkills {
  animation: one 0.7s ease-in 0.2s;
}
.navContact {
  animation: one 0.7s ease-in 0.1s;
}
.navLinks ul li {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--primary);
}
.navBar a:hover {
  border-bottom: 3px solid var(--orange);
}
.active {
  border-bottom: 3px solid var(--orange);
}
.navLinks ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: calc(var(--gap) * 5);
}
.darkLogo {
  animation: one-by-one 0.7s ease-in 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--light-cement);
}
.darkLogo:hover {
  cursor: pointer;
}
.darkLogo img {
  width: 70%;
  height: 70%;
}
.afterLogo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--light-cement);
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.afterLogo img {
  width: 50%;
  height: 50%;
}
.openNavLinks {
  display: flex;
}
.navAfter {
  grid-row: 2/3;
  position: fixed;
  display: none;
  background-color: var(--nav-after-back);
  opacity: 0.9;
  width: 30%;
  z-index: 3;
  float: right;
  right: 0;
  top: 20vh;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
.navAfterChild {
  width: 60%;
  height: 60%;
  background-color: var(--nav-after);
  color: var(--primary);
  border-radius: calc(var(--br) * 3);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.navAfter .navLinks ul {
  display: flex;
  flex-direction: column;
}
/* About Section Styles */
.about {
  position: static;
  grid-row: 2/3;

  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--gap) * 20);
  color: var(--primary);
  background-color: var(--light-cement);
  padding: calc(var(--pd) * 5);
}
.aboutEmpty {
  display: flex;
  flex-direction: column;
}
.contact {
  display: flex;
  flex-direction: column;
  padding: var(--pd);
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}

.contact img {
  width: 30px;
  background-color: var(--light-cement);
  border-radius: calc(var(--br) * 3);
}

.contact img:hover {
  width: 40px;
  background-color: var(--orange);
  border-radius: calc(var(--br) * 4);
}
.contactImg {
  width: 40px;
  height: 40px;
}
.aboutContent {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  gap: calc(var(--gap) * 10);
  padding: var(--pd);
}

.aboutFirst {
  animation: one-by-one 0.7s ease-in 0.1s;
}
.aboutSecond {
  animation: one-by-one 0.7s ease-in 0.2s;
}
.aboutThird {
  animation: one-by-one 0.7s ease-in 0.4s;
}
.aboutFirst,
.aboutSecond,
.aboutThird {
  max-width: 400px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: var(--br);
  text-align: center;
  padding: calc(var(--pd) * 3);
}
.resumeGif {
  animation: one 0.7s ease-in 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 250px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: var(--br);
}
.resumeGif img {
  width: 400px;
  height: 200px;
  border-radius: var(--br);
}
/* #resume-gif{
  width: 50%;
  height: 50%;
} */

/* Animations */
@keyframes one-by-one {
  0% {
    transform: translatex(-500px);
    opacity: 0;
  }
  100% {
    transform: skew(0deg);
    opacity: 1;
  }
}
@keyframes one {
  0% {
    transform: translatey(-500px);
    opacity: 0;
  }
  100% {
    transform: skew(0deg);
    opacity: 1;
  }
}

/* Project Section styles */
.projects {
  grid-row: 3/4;

  margin-top: 50px;
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--white);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: calc(var(--pd) * 5);
}
.projectsContent {
  display: grid;
  grid-template-columns: 10vw 80vw;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--pd) * 4);
}
.sideContact {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.allProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projectsCards {
  position: static;
  grid-column: 2/3;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  padding: var(--pd);
  gap: calc(var(--gap) * 15);
  align-items: center;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--light-cement);
  padding: calc(var(--pd) * 5);
  gap: calc(var(--gap) * 3);
  width: 25vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: var(--br);
}
.cardImg {
  max-width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardImg img {
  width: 70%;
}
.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--gap) * 2);
}
.demoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background-color: var(--white);
  padding: var(--pd);
  border-radius: var(--br);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.demoDiv a {
  text-decoration-color: var(--white);
}

/* Skills Section Styles */
.skillsDiv {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 4/5;

  background-color: var(--light-cement);
  color: var(--primary);
  gap: calc(var(--gap) * 10);
}
.skillsDiv span {
  color: var(--red);
}
.skillsContent {
  display: grid;
  grid-template-columns: 10vw 80vw;
  align-items: center;
  justify-content: space-between;
}
.skillscards {
  display: flex;
  flex: 1 1;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--gap) * 5);
}
.skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(var(--pd) * 5);
  width: 100px;
  height: 100px;
  background-color: var(--white);
  border-radius: 50%;
}

.skillCard img {
  width: 50%;
  height: 50%;
}
/* Contact */
.mainContact {
  grid-row: 5/6;
  min-height: 100vh;
  grid-template-columns: 10vw 80vw;
  display: grid;
  align-items: center;
  justify-content: center;
}
.mainContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--gap) * 3);
  grid-column: 2/3;
  width: 70vw;
  min-height: 70vh;
  border-radius: var(--br);
  background-color: var(--light-cement);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.contactDetails {
  width: 98%;
  padding: var(--pd);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.formSubmissionDisplay {
  color: var(--red);
}
.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--pd) * 2);
  max-width: 80%;
  background-color: var(--white);
  border-radius: var(--br);
}
.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--pd) * 2);
  background-color: var(--white);
  max-width: 50%;
  border-radius: calc(var(--br) * 2);
}
.contactDetailsImg {
  max-width: 80px;
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.contactDetailsImg img {
  width: 60%;
  height: 60%;
}
.contactDetailsImg a {
  text-decoration: none;
}
form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 3);
  align-items: center;
  width: 100%;
}

.inputDiv,
.inputTextDiv {
  width: 90%;
  background-color: var(--white);
  padding: var(--pd);
  border-radius: var(--br);
}
.inputName,
.inputMail,
.inputMessage {
  border-radius: var(--br);
  background-color: var(--white);
  padding: var(--pd);
  width: 100%;
  border: var(--white);
  color: var(--primary);
}
form button {
  padding: calc(var(--pd) * 3);
  border: 0;
  border-radius: var(--br);
  cursor: pointer;
  background-color: var(--white);
  color: var(--primary);
}
/* Footer */
.footer {
  grid-row: 6/7;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-cement);
  color: var(--primary);
}

@media only screen and (max-width: 900px) {
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 10px;
  }
  .mainNavLinks {
    display: none;
  }
  .navLinks ul {
    flex-direction: column;
  }
  .afterLogo {
    display: flex;
  }
  /* .navAfter{
    display: flex;
  } */
  .contact {
    display: none;
  }
  .about {
    flex-direction: column;
    justify-content: space-around;
  }
  .resumeGif {
    width: 200px;
    height: 200px;
  }
  #resume-gif {
    width: 150px;
    height: 150px;
  }
  .allProjects {
    gap: calc(var(--gap) * 8);
  }
  .projectsCards {
    flex-direction: column;
  }
  .card {
    width: 50vw;
  }
  .skillsContent {
    display: flex;
  }
  .skillscards {
    flex-wrap: wrap;
    width: 80vw;
  }
  .contactDetails {
    flex-direction: column;
    gap: var(--gap);
  }
  .contactDetails .mail .phone {
    width: 250px;
  }
  .mainContactForm {
    min-height: 75vh;
  }
}
